.profile {
    padding: 40px 200px 0px;
    display: grid;
    grid-template-columns: 120px 366px 1fr 150px;
    grid-template-areas: 
    'avatar info . addButton';
}
@media screen and (max-width: 1024px) {
    .profile {
        padding: 42px 19px 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 22.25px 1fr 36px 50px;
        grid-template-areas:
        'avatar'
        '.'
        'info'
        '.'
        'addButton';
    }
}